<div class="row">
  <div class="col"></div>
  <div class="col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
    <mat-card>
      <mat-card-header align="center">
        <mat-card-title>LOGIN</mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
        <form class="form-container">
          <mat-form-field>
            <input matInput placeholder="User name" name="username" #username>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" #password>
          </mat-form-field>
          <div class="alert alert-danger" role="alert" *ngIf="message">
            {{ message }}
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button (click)="login(username.value, password.value)">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col"></div>
</div>
